/**
 * @name     WP-Player Admin CSS
 * @desc     WP-Player MetaBox 样式
 * @author   M.J
 * @date     2014-12-19
 * @update   2014-12-24
 * @URL      http://webjyh.com
 * @version  2.0.1
 */
.wp-player-wrap { padding: 10px; }
.wp-player-wrap .wp-player-tabs { margin: 0px; border-bottom: 1px solid #EEE; height: 36px; }
.wp-player-wrap .wp-player-tabs li { display: inline-block; *zoom: 1; margin: 0px; }
.wp-player-wrap .wp-player-tabs li a { display: inline-block; *zoom: 1; padding: 0px 15px; height: 36px; line-height:36px; color: #333; text-decoration: none; margin-right: 10px; border: 1px solid #FFF; border-bottom: 0; }
.wp-player-wrap .wp-player-tabs li.current a { border-color: #EEE; background: #FFF; font-weight: bold; }
.wp-player-wrap .wp-player-row { border: 1px solid #EEE; padding:10px 15px; border-top: none; }
.wp-player-wrap .wp-player-inner { display: none; }
.wp-player-wrap .wp-player-inner.current { display: block; }
.wp-player-wrap .wp-player-text { height: 28px; width: 60%; }
.wp-player-wrap .wp-player-select { vertical-align: top; }